---
layout: default
title: Installation methods for GitLab
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
---
.wrapper
  .installation-header
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .installation-content
        %h1 GitLab Installation
        %h2
          Below are all the options to create a GitLab installation. If you're not sure which method to choose, please use the Omnibus package installation method.
  #content
    .wrapper.container{role: "main"}
      .method.omnibus
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus package installation (recommended)
          .omnibus-table
            - distros = ['Ubuntu', 'Debian', 'CentOS', 'OpenSUSE', 'Raspberry Pi 2']
            - icons = ['ubuntu', 'debian', 'centos', 'opensuse', 'raspberry-pi']
            %ul.nav.nav-pills.omnibus-pills
              - distros.each_with_index do |distro, index|
                %li{class: index == 0 ? 'active' : ''}
                  %a{ data: { toggle: 'tab' }, href: "##{distro.parameterize}" }
                    .omnibus-tab-icon
                      = partial "/images/logos/#{icons[index]}-logo.svg"
                    %span.omnibus-tab-title.hidden-xs
                      = distro
            .tab-content.clearfix
              - distros.each_with_index do |distro, index|
                .tab-pane{id: distro.parameterize, class: index == 0 ? 'active' : ''}
                  %ul.omnibus-platform-list
                    - data.platforms.each do |platform|
                      - if platform.long_name.parameterize.include?(distro.parameterize)
                        %li.omnibus-platform
                          .omnibus-long-name
                            = platform.long_name
                            %small
                              = platform.subtitle
                          .dots
                          .omnibus-buttons
                            = link_to 'CE', "/downloads##{platform.name}", class: 'btn cta-btn btn-primary dl-link-ce'
                            = link_to 'EE', "/downloads-ee##{platform.name}", class: 'btn cta-btn btn-primary dl-link-ee'
          .row
            .col-md-10.col-md-offset-1
              %p.omnibus-intro
                %a{href: "https://twitter.com/awc737/status/517902687052898305"} Omnibus GitLab takes just 2 minutes to install
                It contains GitLab and all its dependencies, it can be installed without an internet connection.
                For troubleshooting and configuration options please see the
                = succeed "." do
                  %a{href: "https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md"} Omnibus GitLab readme

      .method.upgrade
        .method-content
          %h2.block-title Update your GitLab instance
          %p
            Latest Release:
            %span= "v#{current_version}"
          %p
            %a.btn.cta-btn.red{href: "/update"}
              View update options for CE & EE

      #other-methods.method
        .method-content
          %h2.block-title Other official installation methods
          %ul.flex-tile-list
            - data.installation_methods.official.each do |method|
              %li
                .tile-image
                  = partial method.logo
                %a{href: method.url}
                  %span.tile-title
                    = method.name
                %span.light
                  = method.desc

      .method
        .method-content
          %h2.block-title Community installation methods
          %ul.flex-tile-list
            - data.installation_methods.community.each do |method|
              %li
                .tile-image
                  = partial method.logo
                %a{href: method.url}
                  %span.tile-title
                    = method.name
                %span.light
                  = method.desc
            %li.no-tile
              %p.text-center
                No Fedora package exists yet but we would love to see it, if you can help please
                = link_to 'comment in the issue', 'https://gitlab.com/gitlab-org/gitlab-ce/issues/14043'

      .method.tiles
        .method-content
          %h2.block-title#one-click-install-providers One-click install providers
          %p
            One-click installers are frequently out of date and might not contain our Omnibus packages.
            We advise to
            %b not use one-click installers
            but instead start an vanilla Ubuntu instance and use the recommended Omnibus package installation.
            This is almost as quick as a one-click install and you're sure of the latest version and easy upgrades.
          %ul.flex-tile-list
            - data.installation_methods.oneclick.each do |method|
              %li
                %a{href: method.url}
                - if method.logo
                  .tile-image
                    = partial method.logo
                %a{href: method.url}
                  %span.tile-title
                    = method.name
                %span.light
                  = method.desc

      .method
        .method-content
          %h2.block-title GitLab as a Service - Hosted GitLab
          %ul.flex-tile-list
            %li
              .tile-image
                = partial "/images/logos/gitlab-logo.svg"
              %a{href: "https://gitlab.com"}
                %span.tile-title
                  GitLab.com
              %span.light
                hosted by GitLab Inc.

      .method.upgrade
        .method-content
          %h2.block-title Third-party applications that support GitLab
          %ul
            %li
              %p.text-center
                %a.btn.cta-btn.red{href: "/applications"}
                  View third-party applications
