:markdown
  ### Security

  A Security Specialist is a Developer who focuses on ensuring that
  GitLab and associated applications are as secure as possible. The Security Specialist works in close collaboration with the Security Lead.
